.label-pasien{width:100%; text-align:left; line-height:15px; font-size:10px;}
.barcode-pasien{width:70%; text-align:left; line-height:13px; font-size:10px;}
.rm-label{font-size:20px; font-weight:bold; letter-spacing:10px;}
.label{width:100%; text-align:left; line-height:13px; font-size:10px;}
.label b{ font-size:11px;}
.norm{letter-spacing: 10px; text-align:center; }